<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello World!</h1>
    {% for abt in abouts %}
      <ol>
        <li>{{abt.fname}}</li>
        <li>{{abt.lname}}</li>
        <li>{{abt.contact}}</li>
        <li>{{abt.email}}</li>
      </ol>
    {% endfor %}

    {% for exp in experiences %}
      <ul>
        <li>{{exp.profile}}</li>
        <li>{{exp.organisation}}</li>
        <li>{{exp.summary}}</li>
      </ul>
    {% endfor %}

    {% for edu in educations %}
      <ul>
        <li>{{edu.institute}}</li>
        <li>{{edu.degree}}</li>
        <li>{{edu.specialization}}</li>
      </ul>
    {% endfor %}
  </body>
</html>
